<h1>Welcome to the Registration Page</h1>
<form method="POST" action="/user/register">
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="text" name="password" placeholder="Password">
  <br>
  <input type="text" name="name" placeholder="First and Last name">
  <br>
  <input type="text" name="street" placeholder="Street Address">
  <br>
  <input type="text" name="city" placeholder="City">
  <br>
  <input type="text" name="state" placeholder="State">
  <br>
  <input type="text" name="zip" placeholder="Zip Code">
  <br>
  <input type="text" name="country" placeholder="Country">
  <br>
  <input type="text" name="email" placeholder="Email Address">
  <br>
  <input type="submit" value="Submit Registration">
</form>
